/* Carousel Area  */
.slide-content{
    margin-bottom: 100px;
    z-index: 2;
}
.bg-opacity{
    position: relative;
}
.bg-opacity::after{
    content: "";
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.75;
}
/* Ready-To-Join */
.bg-color{
    background-color: #289BDE;
}